h1 {
  color: red;
}
img {
  width: 400px;
}
#thirdDiv {
  height: 600px;
  width: 500px;
  background-color: green;
  padding: 50px;
  border: 2px solid indigo;

  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
#spanId {
  font-size: 18px;
}
body {
  margin: auto;
}

.divClass {
  display: flex;

  align-items: center;

  justify-content: center;
}
